body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width:220vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.child{
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 20px;
    border: none;
   font-size: 15px;
   font-style:bold;


}
.v1{
    background-color: rgb(23, 23, 212);
    border-radius: 3px;
    border: none;
    padding: 6px;
    text-align: center;
    width: 170px;
    height: 200px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    font-size: 10px;

}
#v2{
    font-size: 9px;
}
input{
    font-size: 13px;
    padding: 2px;
}